// assets/variables.scss
$primary-color: #c72c41;
$secondary-color: #007c3e;
$background-color: #007c3e;
$text-color: #fff;
$card-back-color: #800020;

$border-radius: 8px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);